<div class="pl-4 pb-6">
    <div class="text-lg pr-3 text-blue-600 tracking-wide">{{achivements.title}}</div>
    <hr class="h-0.5 bg-blue-500 mr-5">
    <ol class="text-xs list-disc px-2">
        {{#each achivements.items}}
           <li>{{this}}</li>
        {{/each}}
    </ol>
</div>