<div class="text-sm block">
    <div class="flex flex-row justify-start items-center ">
        <span class="text-lg pr-3 text-blue-600 tracking-wide">{{career.title}}</span>
        <hr>
    </div>
   <div class="pr-2 pl-5 ">
        <ol class="relative border-l border-gray-300 ">  
            {{#each career.items}}
                {{> career_item }}
            {{/each}}                
        </ol>
    </div>
</div>