<li class="pb-3">
    <div class="text-xs font-normal text-gray-600">
        <div class="flex flex-row justify-start">
            <span class="font-mono text-sm">{{this.period}}</span> 
            <span class="pl-1 pr-2">|</span>
            <span class="font-mono tracking-tight">{{this.degree}}</span>
            <span class="pl-1 pr-2">|</span>
            <span class="font-mono">{{this.marks}}</span> 
        </div>
        <div class="flex flex-row justify-start gap-1 pr-2">
            <span class="text-ellipsis tracking-wide">{{this.subject}}</span> 
        </div>
    </div>
</li>