<div class="">
    <div class="pb-1">
        <span class="text-xl font-bold text-blue-600 tracking-wide">{{personal.name}}</span> 
        <span class="px-2 text-blue-600">|</span>
        <span class="text-xl text-blue-600">{{sub_title}}</span>
    </div>
    <div class="pb-3 text-sm pr-2 pl-5">
        {{content}}
    </div>
</div>