<div class="pl-4 pb-4">
    <div class="text-lg pr-3 text-blue-600 tracking-wide">
        {{otherskills.title}}
    </div>
    <div class="pr-3 text-xs tracking-tight font-mono text-justify">
        {{otherskills.desc}}
    </div>
    <hr class=" h-0.5 bg-blue-500 mr-5 my-1">
    <div class="text-xs font-mono flex flex-row justify-start items-center px-2 flex-wrap">
        {{#each otherskills.items}}
            <div class="pr-1 ">
                <span>{{this}},</span>
            </div>
        {{/each}}
    </div>
</div>