<div class="text-sm">
    <br>
    <br>
    <br>

    <a href={{ footer.repolink }} target="_blank">
        <i class="uil uil-code-branch text-gray-300 pr-2"></i>
        <span class="text-gray-300 break-normal font-normal leading-none font-mono tracking-tight">Template</span>
    </a>
</div>