<div class="pl-4 pb-4">
    <div class="text-lg pr-3 text-blue-600 tracking-wide">
        Relevant Skills
    </div>
    <ol class="text-xs">
        {{#each skills.items}}
            {{>skill_item }}
        {{/each}}
    </ol>
</div>